*{
    padding: 0;
    margin: 0;
     box-sizing:border-box;
       font-family: "Work Sans", sans-serif;
}
.container{
    max-width:1140px;
    margin:auto;

}
  /* <!-- hero section  --> */
.hero{
     /* padding-bottom: 166px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: right; */
    padding:   285px;
    background-image: url('./banner3.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:120vh;
    width: 100%;
    /* margin-right: 230px; */

    /* margin-right:-990px; */

}
.hero-content{
    /* margin-right: 130px; */
    /* text-align: left;
    justify-content: left; */
    display:flex;
    justify-content: end;
}
.hero-text h2{
    font-size: 65px;
    font-weight:700 ;
    margin-bottom: 24px;
    color:white;
     /* width: 525px; */
     /* text-align: right; */
     /* height: 228px; */

     
}
.hero-text .btn{
    margin-top: 24px;
    padding:20px 25px;
    border-radius: 8px;
    font-size:20px;
    font-weight: 600;
    background-color: #ffffff;
    border: none;
    color: #005FAC;

}
.hero-text p{
    /* width: 394px;
    height:998px; */
    color: white;
}
.hero-text{
    padding-top:216px;
    /* padding-right: 230px; */
    width: 500px;
     /* display: flex; */
    text-align: right;    
    /* align-items: right;  */
    /* justify-content: end;    */
     /* text-align: right;  */
    /* margin-left: 100px; */
}
/* about section  */
.about-content{
    display: flex;
    align-items: center;
    padding-left: 206px;
    margin-top: 120px;
    gap: 90px;
    /* width: 1072px; */
}
.about-parent h1{
    max-width: 288px;
    font-size:40px;
    margin-bottom:20px ;
}
.about-parent{
    padding-top: 214px;
}
.about-parent p{
    line-height: 26px;
    margin-bottom: 15px;
    font-size:16px;
    max-width: 418px;
}
.about-parent li{
    list-style: none;
    margin-bottom: 10px;
    
}
.about-parent i{
   color:chartreuse;
}
/* My Plans  */
.my-plans{
    /* max-width: 1140px; */
    margin-top: 130px;
    /* align-items: center; */
}
.my-plans h2{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 700;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
.my-card-parent{
    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    gap: 100px;
    padding-left: 230px;
    padding-right:229px ;
    
}
.my-card h3{
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
}
.my-card p{
  font-size: 25px;
  font-weight: 600;
  margin-top: 16px;
  color: #737272;
}
/* Banner section  */
.banner-parent{
    /* margin-top:none; */
    /* margin:0 230px; */
    max-width: 1240px;
    background-image: linear-gradient(to right,rgba(34, 115, 229, 0.9),rgba(0, 0, 0, 0.1)), url('./watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:130px;
    padding: 60px;
    background-color: #005FAC;
    border-radius: 20px;
    border: none;
}
.banner-child h2{
    max-width: 460px;
    font-size: 40px;
    font-weight: 700;
    /* background:white */
    color: white;


}
 .banner-child .banner-btn{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 36px;
}
.footer-content{
    background-color: black;
    margin-top: 130px;
    padding: 130px 0;
    color: white;
    /* display: flex; */

}
.footer-parent{
    display: flex;
    gap: 331px;
}
.footer-box{
    width: 485px;
    /* height: 317px; */
}
.footer-box h2 {
font-size: 45px;
font-weight: 700;
margin-bottom: 16px;
}
.footer-box p{
    /* font-size: 45px; */
    /* margin-bottom:24px ; */
    line-height: 26px;
    margin-bottom: 24px;
    font-size: 16px;
}
.social-icon{
    margin-right: 17px;
}
.footer-two h2{
    font-size: 25px;

    font-weight: 600;
    margin-bottom: 31px;
     
}
.footer-two .in{
    width: 325px;
    padding: 21px;
    border:1px solid #F3F3F3;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 18px;
    background-color: black;

}
.footer-two .btn9{
    background-color: #005FAC;
    padding: 20px 36px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: white;

}



